# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

# WordPress Coding Standards
# https://make.wordpress.org/core/handbook/coding-standards/

root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[{src/**/*,config/**/*}]
insert_final_newline = true

[views/**/*]
insert_final_newline = false

[tests/php/Fixture/views/**/*]
insert_final_newline = false

[{.jshintrc,*.json,*.yml}]
indent_style = space
indent_size = 2
insert_final_newline = true

[{*.txt,wp-config-sample.php}]
end_of_line = crlf
