includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php 
    excludePaths:
        - tests/php/Fixture/views/broken-view.php
