<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	bootstrap="vendor/yoast/phpunit-polyfills/phpunitpolyfills-autoload.php"
	verbose="true"
    colors="true">
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/php/Unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory suffix="Test.php">tests/php/Integration</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>
</phpunit>
